.emblem{
   color: #eb4034;
   font-family: 'Open Sans', sans-serif;
   float: left;
   font-weight: bolder;
   font-size: 1em;
}

.ask-project{
   font-weight: bold;
}
.connect-me{
   color: white;
   margin-bottom: 2rem;
}
.thoughts{
   align-items: center;
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 18em;
}
.thought-link{
   font-size: 10px;
}
.font-bold{
   font-size: 16px;; 
}
.thought-write{
   height: 5rem;
}
.float{
   z-index: 1;
	position:fixed;
	width: 55px;
	height:55px;
	bottom:35px;
	right:40px;
	background-color:#000000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #eb4034;
}


div#float-items ul{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:65px;
	z-index:100;
}

div#float-items ul li{
	list-style:none;
	margin-bottom:10px;
}

div#float-items ul li a{
	background-color:#F33;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:55px;
	height:55px;
	display:block;
}

div#float-items ul:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
	font-size:24px;
	margin-top:18px;
}

a#menu-share + ul{
  visibility: hidden;
  animation: scale-out 0.5s;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
   color: white;
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-out {
   from {transform: scale(1);opacity: 1;}
   to {transform: scale(0);opacity: 0;}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
